<?xml version="1.0" ?>
<!-- 
/**
 * @category GauravCape
 * @author Gaurav
 * @copyright Copyright (c) 2023 Gaurav
 * @package GauravCape_CsvImportApi
 */ 
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="GauravCape\CsvImportApi\Api\CsvProductImportManagementInterface" type="GauravCape\CsvImportApi\Model\CsvProductImportManagement"/>
</config>